// main.scss

.application {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
}

.wrap-as-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 550px) {
    .wrap-as-row {
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
}
