// Header.scss

.header {
    display: flex;
    width: 100%;
    height: 10em;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-size: 3em;

        b {
            color: $sg;
        }
    }
}
